@import url(./reset.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e280f5;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, 
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #f7a8e0 100%);
    padding: 40px 60px;
    border-radius: 1rem;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 3px black;
}
.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #c4bff8;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{
    color: #ec38bc ;
    background-color: #03001e;
}

.game {
    width: 433px;
    height: 435px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(325deg, 
    #1a06cf 0%,
    #5503c0 30%);
    border: 2px solid #000;
    transition: 0.25s;
    transform: rotateY('0deg');
    backface-visibility: hidden;

}
.item.boxOpen{
    transform: rotateY(0deg);

}
.boxOpen::after{
    transform: rotateY(180deg);
}